<div class="container-fluid w-100 h-100 m-0 p-0 background-color:aqua">
    <header class="w-100">
        <ul class="w-100 h-100 nav nav-pills d-flex flex-row justify-content-center align-items-center">
            <li class="nav-items">
                <a class="nav-link" routerLink="departmenLlist" routerLinkActive="active">
                Department list
              </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="employee" routerLinkActive="active">Employees</a>
            </li>
        </ul>
    </header>
    <section class="w-100 ">
        <router-outlet></router-outlet>
    </section>
</div>